<%- include('./partials/head') %>




<div class="profile-information">
<a href="/">Terug</a>

  <!-- Hier moet de goede person id staan -->
  <img src="https://avatars.githubusercontent.com/u/144009778?v=4">

  <!-- Hier moet de goede person id staan -->
  <h1><%= person.name %></h1>
  <p>Hoi! Ik ben Sammy en dit is mijn Bio :00</p>

</div>

<div>
<section>
  <h2>Over mij</h2>
  <ul>
    <li>Leeftijd: 21 jaar</li>
    <li>Squad: 1D</li>
    <li>Woont in: Utrecht</li>
  </ul>
</section>

<section>
<h2>Mijn reacties</h2>
<form method="POST" action="/details/<%= person.id %>">
  <input name="profile-comment" id="profile-comment" value="Laat een reactie achter!">
  <button>Verstuur</button>
</form>
</section>
</div>

<div>
  <section>
    <h2>Zie ook</h2>
  </section>
</div>
<!-- <article class="person">
  <header>
    <h1>Hello</h1>
    <p>my name is</p>
  </header>



  <footer></footer>
</article> -->

<%- include('./partials/foot') %>
