* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --main-color-1:#FCCF68;
  --main-color-2:#669ACC;
  --secondary-color-1:#D0E0F0;
  --secondary-color-2:#fff;
  --active-color-1:#00478a;

  --regular-font: verdana, arial, helvetica;
}

header {
  background: var(--main-color-1);
  width: 100%;
  padding: 1em;
  display: block;
  top: 0;
}

header img {
  width: 10em;
  cursor: pointer;
}

body {
  font-family: var(--regular-font);
}

main {
  background:var(--secondary-color-2);
}

main h1 {
  background: var(--main-color-2);
  padding: .5em;
  color: var(--secondary-color-2);
  text-transform: uppercase;
}

main ul {
  padding: 1em;
  display: grid;
  grid-template-columns: 15em;
  /* grid-template-rows: 15em; */
  justify-content: center;
  
  list-style-type: none;
  margin-block-start: 0;
  margin-block-end: 0em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 0;
}

main a {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  margin-block-start: 1em;
  margin-block-end: 1em;
  flex-wrap: nowrap;

  
  font-weight: 900;
  color: var(--active-color-1);
  text-decoration: none;
}

main a:hover {
  color: var(--main-color-2);
  transition: .1s ease;
}

main img {
  width: 10em;
  height: 10em;
  object-fit: cover;
}

@media (min-width: 768px )  {
  main ul{
    grid-template-columns: 15em 15em;

  }
}

@media (min-width: 1024px )  {
  main ul {
    grid-template-columns: 15em 15em 15em;

  }
}

@media (min-width: 1440px ) {
  main ul {
    grid-template-columns: 15em 15em 15em 15em;

  }
}